<div id="eaasy">
    <#if eaasy.rows ??>
        <#list eaasy.rows as item>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">${item.title}</h3>
                </div>
                <div class="panel-body">${item.content}</div>
            </div>
        </#list>
    </#if>
    <div id="pagination" style="margin-left: 50%;"></div>

    <script language="text/javascript">
        $("#pagination").bootpag({
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    total: ${eaasy.total} / ${eaasy.rowCount},
                    page: ${eaasy.current},
                    maxVisible:${eaasy.total}/${eaasy.rowCount}+1
        }).on("page", function (event, num) {
            $.ajax({
                url: "getEaasy/" + num,
                success: function (data) {
                    $("#eaasy").html(data);
                }
            });
        });
    </script>

