<footer>
    <!--<div class="footer-nav">
        <div class="container">
            <ul class="about-ul list-inline clearfix">
                &lt;!&ndash;<li><a href="/about">关于我们</a></li>
                <li><a href="/joinus">联系我们</a></li>
                <li><a href="/faqs">常见问题</a></li>
                <li>
                    <script>
                        var _hmt = _hmt || [];
                        (function() {
                            var hm = document.createElement("script");
                            hm.src = "//hm.baidu.com/hm.js?6e0713cd60752ea023d52ef138d4fd27";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hm, s);
                        })();
                    </script>
                </li>&ndash;&gt;
            </ul>
        </div>
    </div>-->
    <div class="container mode-link">
        <h3 class="t-h3">关注小乐微信号</h3>
        <ul class="list-inline">
            <!--<li><a title="落事,分享您我的时落事往！" target="_blank" href="http://www.luosh.com">落事网</a></li>
            <li>
                <a title="主攻与小受的樱桃派" target="_blank" href="http://www.yingtaop.com">樱桃派</a>
            </li>
            <li>
                <a title="寻找小清新 " target="_blank" href="http://www.xzxqx.com/">寻找小清新</a>
            </li>
            <li>
                <a title="发现美好！" target="_blank" href="http://wenyizhi.com/">文艺志</a>
            </li>
            <li>
                <a title="个人记录生活角落，一枚听着摇滚会做网站爱摄影画植物昆虫的水彩画爱好者！" target="_blank" href="http://www.bugela.com/"> 布格拉 </a>
            </li>
            <li>
                <a title="木屋下" target="_blank" href="http://www.muwuxia.com">木屋下</a>
            </li>
            <li>
                <a title="辛者酷" target="_blank" href="http://www.xinzheku.org/">辛者酷</a>
            </li>
            <li>
                <a title="啃电脑" target="_blank" href="http://www.51kdn.cn">啃电脑</a>
            </li>
            <li>
                <a title="遇见蓝波" target="_blank" href="http://www.lanzhiyiyi.com/">遇见蓝波</a>
            </li>
            <li>
                <a title="三秒兔" target="_blank" href="http://www.3miaotu.com">三秒兔</a>
            </li>
            <li>
                <a title="片段" target="_blank" href="http://www.cuixiaoke.com/">片段</a>
            </li>
            <li>
                <a title="清新范" target="_blank" href="http://www.qxfun.com">清新范</a>
            </li>
            <li>
                <a title="M.J" target="_blank" href="http://www.webjyh.com/">M.J</a>
            </li>
            <li>
                <a title="回忆吧" target="_blank" href="http://www.huiyiba.com.cn/">回忆吧</a>
            </li>
            <li>
                <a title="梦想博客" target="_blank" href="http://www.chasingdream.me/">梦想博客</a>
            </li>
            <li>
                <a title="591网站收录" target="_blank" href="http://www.hdh591.com/">591网站收录 </a>
            </li>
            <li>
                <a title="稚·言" target="_blank" href="http://forbook.net/">稚·言</a>
            </li>
            <li>
                <a title="唯美图片
" target="_blank" href="http://www.keaitupian.cn">唯美图片</a>
            </li>
            <li>
                <a title="一抹色" target="_blank" href="http://www.yimose.com/">一抹色</a>
            </li>
            <li>
                <a title="癖事" target="_blank" href="http://www.psrss.com">癖事</a>
            </li>
            <li>
                <a title="默念" target="_blank" href="http://www.monian.xyz/">默念</a>
            </li>
            <li>
                <a title="笑生有道" target="_blank" href="http://www.b-bsmile.com/">笑生有道</a>
            </li>
            <li>
                <a title="一半宁静，一半喧嚣" target="_blank" href="http://www.qng.im">青果</a>
            </li>
            <li>
                <a title="萤灯" target="_blank" href="http://www.moshy.cn">萤灯</a>
            </li>
            <li>
                <a title="在喧嚣中寻找宁静，在生活中发现乐趣。" target="_blank" href="http://www.itomre.com">ITOMRE</a>
            </li>
            <li>
                <a title="ONE一个" target="_blank" href="http://www.wufafuwu.com/">ONE一个</a>
            </li>
            <li>
                <a title="朝歌暮酒" target="_blank" href="http://www.songwine.cn/">朝歌暮酒</a>
            </li>
            <li>
                <a title="空白杂志" target="_blank" href="http://www.nonzen.com/">空白杂志</a>
            </li>
            <li>
                <a title="发现和分享最新影视预告片、精彩音乐MV、劲爆游戏CG、唯美图片故事，嗨尚视觉让你随时随地享受震撼的视觉体验。" target="_blank" href="http://www.17hishang.com">嗨尚视觉</a>
            </li>
            <li>
                <a title="陌风" target="_blank" href="http://www.sunan.me">陌风</a>
            </li>
            <li>
                <a title="爱在发烧" target="_blank" href="http://azfashao.com/">爱在发烧</a>
            </li>
            <li>
                <a title="筛宝网" target="_blank" href="http://www.shaibaonet.com">筛宝网</a>
            </li>
            <li>
                <a title="微合集" target="_blank" href="http://www.weiheji.net">微合集</a>
            </li>
            <li>
                <a title="新淮网" target="_blank" href="https://www.huainew.com/">新淮网</a>
            </li>
            <li>
                <a title="奔三路" target="_blank" href="http://www.bslxx.com">奔三路</a>
            </li>
            <li>
                <a title="" target="_blank" href="http://www.4inlove.net">4inlove</a>
            </li>
            <li>
                <a title="萃岛" target="_blank" href="http://www.cuidao.net/">萃岛</a>
            </li>
            <li>
                <a title="记录生活中的所思所想及所悟。" target="_blank" href="http://www.basemu.com/">八色木</a>
            </li>
            <li>
                <a title="然而扮演着各种角色" target="_blank" href="http://www.z-clown.com/">Z-CLOWN</a>
            </li>
            <li>
                <a title="衣故事" target="_blank" href="http://www.estory365.com">衣故事</a>
            </li>
            <li>
                <a title="永远年轻，永远热泪盈眶" target="_blank" href="http://qingchun.org">青春</a>
            </li>
            <li>
                <a title="爱小清新" target="_blank" href="http://ixqx.cn">爱小清新</a>
            </li>
            <li>
                <a title="聚合网站目录" target="_blank" href="http://juhemulu.com">聚合网站目录</a>
            </li>
            <li>
                <a title="LovePanda" target="_blank" href="http://www.liuyunfei.cn/">LovePanda</a>
            </li>
            <li>
                <a title="畅游是一个以爱情情感为主题的短文学文章阅读网站。内含有各种经典好文章,爱情散文,诗歌散文,优美哲理抒情散文,经典短文学等。读短文学文章，尽在http://ioooy.com/" target="_blank" href="http://ioooy.com/">畅游文学</a>
            </li>
            <li>
                <a title="心理说" target="_blank" href="http://ipjzj.com">心理说</a>
            </li>
            <li>
                <a title="爱折腾，喜欢造，极简主义者，主从事Web开发兼前端爱好者" target="_blank" href="https://zyl.me">ZYL的博客</a>
            </li>-->
        </ul>
    </div>
    <div class="container copy-right">
        <span></span>
        <!--<span class="pull-right"><a target="_blank" href="http://luosh.com">落事，分享您我的时落事往！</a></span>-->
    </div>

</footer>