<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="baidu_union_verify" content="77189868c4fd1b5b723cbf87e0e41978">
    <title>乐兜兜笑话网,您身边的笑话大师</title>
    <#include "resource.tag" />
</head>
<body style="background-image: url('${staticFileRoot}/images/bg.png');background-repeat: repeat;">
<#include "top.html" />
<!--main-->
<div class="container-fluid">
    <div class="col-sm-2" style="padding-top: 60px;" id="leftDiv">
        <#include "left.html" />
    </div>
    <div class="col-sm-8" style="margin-top: 100px;" id="main">

    </div>
    <div class="col-sm-2" style="padding-top: 60px;">
        <#include "right.html" />
    </div>
</div>
<#include "footer.html" />
</body>

</html>
