<div id="textJoke" class="stream-list p-stream">
    <#if topics.rows ??>
        <#list topics.rows as item>
            <div class="stream-item">
                <div class="p-rank clearfix">
                    <div class="users">
                        <a href="javascript:void(0);">
                            <div class="ava">
                                <img src="http://www.luosh.com/store/ava/399/0/0/100.jpg" class="img-circle _img">
                            </div>
                        </a>
                       <!--<a href="/view/1651">-->
                        <div class="info">
                            <strong class="title">
                                <span class="label label-success">笑话</span>
                                ${item.title}
                            </strong>
                            <time>sun&nbsp;2天前</time>
                        </div>
                        <!--</a>-->
                    </div>
                </div>
                <div class="summary">
                    <div class="excerpt wordbreak hidden-xs">
                        ${item.content}
                    </div>
                </div>
               <!-- <div class="summary">
                    <a href="/view/1651">
                        <div class="excerpt wordbreak hidden-xs">
                            ${item.content}
                        </div>
                    </a>
                </div>-->
            </div>
        </#list>
    </#if>
    <div id="pagination" style="margin-left: 50%;"></div>

    <script language="text/javascript">
        $("#pagination").bootpag({
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    total: ${topics.total} / ${topics.rowCount} +1,
                    page: ${topics.current},
                    maxVisible:${topics.total}/${topics.rowCount}+1
        }).on("page", function (event, num) {
            $.ajax({
                url: "getTopics/Text/" + num,
                success: function (data) {
                    $("#textJoke").html(data);
                }
            });
        });
    </script>

